.todo__list-item {
  padding: 15px;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
}

.todo__text {
  margin: 0;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word;
  overflow: hidden;
}

.todo__input {
  margin: 0 20px;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  border: 1px solid #e4d3d2;
  outline: none;
}

.todo__button-status {
  background-color: #ffffff;
  padding: 0;
  min-width: 30px;
  height: 30px;
  border: 2px solid #e4d3d2;
  border-radius: 50%;
  cursor: pointer;
}

.todo__button-status_success {
  border-color: #00ab00;
  background-image: url(../../images/gui_checkmark_icon.svg);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

.todo__button_edit {
  margin-left: auto;
  /* padding: 0; */
  background-color: #e4d3d2;
  /* border: none; */
  /* min-width: 30px; */
  /* height: 30px; */
  background-image: url(../../images/edit_icon.svg);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  /* border-radius: 5px; */
}

.todo__button_delete {
  margin-left: 3px;
  /* padding: 0; */
  background-color: #e4d3d2;
  /* border: none; */
  /* min-width: 30px; */
  /* height: 30px; */
  background-image: url(../../images/delete_icon.svg);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  /* border-radius: 5px; */
}

.todo__button_save {
  margin-left: auto;
  background-color: #07d307;
  background-image: url(../../images/downarrow.svg);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}

.todo__button {
  padding: 0;
  border: none;
  min-width: 30px;
  height: 30px;
  border-radius: 5px;
}

.todo__text_active {
  text-decoration: line-through;
  color: #e4e4e4;
}

@media screen and (max-width: 500px) {
  .todo__text {
    font-size: 16px;
  }
}
