.add {
  display: flex;
  width: 100%;
  min-height: 85px;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4;
}

.add__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0 10px 10px;
  font-size: 24px;
  font-weight: 400;
}

.add__input:focus {
  border-bottom: 1px solid #e4d3d2;
}

.add__button {
    margin-left: 10px;
    cursor: pointer;
    background-color: #e4d3d2;
    border: none;
    background-image: url(../../images/downarrow.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    padding: 0;
    border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .add__input {
    font-size: 16px;
  }
}